version: "3.8"

services:
  n8n:
    build: .
    container_name: n8n
    restart: unless-stopped

    environment:
      - N8N_HOST=automation.instloo.in
      - N8N_PROTOCOL=https
      - N8N_PORT=5678
      - WEBHOOK_URL=https://automation.instloo.in

      - EXECUTIONS_PROCESS=main
      - N8N_EXECUTE_COMMAND_ENABLED=true
      - N8N_ENABLE_UNSAFE_NODES=true
      - NODES_EXCLUDE=[]

    volumes:
      - n8n_data:/home/node/.n8n
      - /opt/n8n/media:/media

    networks:
      - web

  caddy:
    image: caddy:latest
    container_name: caddy
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /opt/caddy/Caddyfile:/etc/caddy/Caddyfile:ro
      - caddy_data:/data
      - caddy_config:/config
    networks:
      - web

volumes:
  n8n_data:
  caddy_data:
  caddy_config:

networks:
  web:
    driver: bridge
